<div class="products">
  <div class="container">
		<div class="row">
			<%= form_with model: @user, url: "/user/update" do |form| %>
				<div class="row">
					<%= render partial: "shared/form_errors", locals: { object: form.object } %>
					<div class="col-md-12 ">
						<%= form.text_field :name, required: true, class: "contactus", placeholder: "Name" %>
					</div>
					<div class="col-md-12 ">
						<%= form.submit "Update", class: "send_btn" %>
					</div>
				</div>
			<% end %>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="titlepage">
					<h4>My Addresses
						<span class='pull-right'><%= link_to "Add New", "/addresses/new", class:'btn' %></span>
					</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<table>
				<thead>
					<tr>
						<th scope="col">Addess</th>
						<th scope="col">Contact number</th>
						<th scope="col">Quantity</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
				<% @addresses.each do |address| %>
					<tr>    
						<td><%= address.address %></td>
						<td><%= address.contact %></td>
						<td><%= link_to 'Edit', { controller: 'addresses', action: 'edit' ,id:address.id } %>
							<%= button_to 'Delete', { controller: 'addresses', action: 'delete', id:address.id },data: { confirm: "Are you sure?" }, method:'delete' %></td>
					</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>
